* { margin: 0; padding: 0; outline: 0; }

body{
    height:100%;
}

header.main_header {
    top:0;
    height:60px;
    text-align:center;
    background-color:#992C2C;
    color:white;
    font-weight:bold;
}

nav {
    margin-top:10px;
    padding-bottom:5px;
    text-align:center;
}

nav a {
    text-decoration:none;
    color:black;
    padding:5px;
    font-size: 20px;
    border-radius:5px;
}

nav a:hover {
    color: #995252;
}

nav ul {
    list-style:none;
    border-bottom : 3px solid black;
}

nav ul li {
    display:inline-block;
    height: 60px;
    width : 200px;
    margin-right:15px;
    /*background: url('../img/onglet.png') no-repeat;*/
    background: yellow;
}

nav ul li.active {
    border-bottom: 3px solid yellow;
}

article header {
    text-align:left;
    margin-left:25px;
    border:none;
}

article section{

}

section.main {
    display: inline-block;
    vertical-align: top;
    width:85%;
}
td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}
th /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}

aside {
    display: inline-block;
    vertical-align: top;
    width:14%;
    height:600px;
    background-color:#992C2C;
}

aside #personal_info {
    width:100px;
    height:100px;
    margin:auto;
    border:2px solid #FFFFFF;
}

footer {
    text-align:center;
    font-style:italic;
    font-size:75%;
    width:100%;
    margin-top:25px;
    padding-top:25px;
    border-top:1px solid black;
}

/********************************/
/* DIALOG STYLE                 */
/********************************/


.dialog_box {
    z-index:10;
    margin:auto;
    position: absolute;
    top: 200px;
    left: 30%;
    background-color:#cccccc;
    border:1px solid #992C2C;
}

.dialog_header {
    background-color:#992C2C;
    color:white;
    border-bottom:1px solid black;
    padding:2px;
    text-align:center;
    font-size:125%;
    font-weight:bold;
}

.dialog_body {
    margin:5px;

}

.dialog_buttons {
    background-color:#992C2C;
    color:white;
    border-top:1px solid black;
    border-left:1px solid black;
    padding:5px 10px 5px 5px;
    position:absolute;
    bottom:0px;
    right:0px;
}

.dialog_buttons button {
    margin-left:10px;
    border-radius:0px;
    background-color:#ffffff;
}

/* EXPENSE BOX STYLE */

.animation2 {
	height:0px:
}

.animation {
	height:0px;
	transition: height 1s; -moz-transition: height 1s;-webkit-transition: height 1s;-o-transition: height 1s; overflow: hidden;
}

.expense_box {
	z-index:10;
    	position:relative;
    	margin:auto;
    	background-color:gray;
    	border:1px solid #992C2C;
}

.expense_header {
	text-align:center;
}

.expense_buttons {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* EXPENSE BLOCK STYLE */

.expense_block {
	display:inline-block;
	width:150px;
	vertical-align:top;
	border:1px solid black;
}
