* { margin: 0; padding: 0; outline: 0; }

body{
    height:100%;
    margin:auto;
}

button {
    cursor:pointer;
}

header.main_header {
    top:0;
    height:40px;
    text-align:center;
    background-color:#992C2C;
    color:white;
    font-weight:bold;
    box-shadow: 2px 4px 3px rgba(236, 236, 236, 0.9);
}

nav {
    margin-top:10px;
    /* padding-bottom:5px; */
    text-align:center;
/* margin-bottom:-5px; */
}

nav a {
    text-decoration:none;
}

nav a:hover {
    color: #995252;
}

nav ul {
    list-style:none;
    /* border-bottom: 3px solid black; */
    color:black;
    font-size: 20px;
}

nav ul li {
    display:inline-block;
    height: 35px;
    width: 150px;
    background: url('../img/onglet_unselected_new.png') no-repeat;
    /* margin-bottom: -3px; */
    /* padding-top: 15px; */
    /* margin-left:-5px; */
}

nav ul li.active {
    /* border-bottom: 3px solid #DBDBDB; */
    background: url('../img/onglet_selected_new.png') no-repeat;
}

nav ul li a {
    color:#000000;
    display:block;
    padding-top: 5px;
}

article header {
    text-align:left;
    margin-left:25px;
    border:none;
}

article section{

}

section.main_wrapper {
    margin:auto;
    width:1000px;
}

section.main {
    display: inline-block;
    vertical-align: top;
    width:800px;
    /* min-width:1100px; */
    /* max-width:1100px; */
    margin-top:15px;

}

section.submain {
    padding: 20px 20px 20px 20px;
    /*border:5px solid #992C2C;*/
    background-color: #dbdbdb;
    /* margin-top: -5px; */
    /* box-shadow: 0 11px 12px -7px rgba(0, 0, 0, 0.1) inset; */
    box-shadow: 2px 4px 3px rgba(236, 236, 236, 0.9);
    border-radius: 3px;
}

/*******************************/
/*  TABLE                      */
/*******************************/

table {
    border-collapse: collapse;
}

tr {
    height:30px;
}


td {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}


th {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}
caption{
    font-size: 20px;
    font-weight: bold;
}

/*******************************/
/*  ASIDE                      */
/*******************************/

aside {
    display: inline-block;
    vertical-align: top;
    width:190px;
    height:600px;
    background-color:#992C2C;
    margin-top:60px;
    border-radius: 3px;
    box-shadow: 2px 4px 3px rgba(236, 236, 236, 0.9);
}

aside #personal_info {
    width:125px;
    height:125px;
    margin:auto;
    border:2px solid #FFFFFF;
    border-radius: 3px;
    margin-top:-40px;
    cursor:pointer;
}

#nNotifs {
    background-color: #DBDBDB;
    border: 2px solid white;
    border-radius: 50%;
    height: 25%;
    width: 25%;
    position: relative;
    left: 82%;
    bottom: 112%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#nNotifs span {
    position: relative;
    top: 5px;
}

.aside_button {
    display:block;
    border: 1px solid white;
    padding: 5px;
    margin:auto;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 3px;
}

/* Notifications section */

.notifications {
    width:180px;
    /* background:#ffffff; */
    margin:auto;
    margin-top:50px;
    padding:5px;
}

.notifications ul {
    list-style:none;
}

.notification {
    margin:5px;
    margin-top:10px;
    border:1px solid #ffffff;
    background-color: #dbdbdb;
    border-radius: 3px;
    cursor:pointer;
}

.notification:hover {
    background-color:#ffffff;
}

.notification header {
    font-weight: bold;
    border-bottom:1px solid black;
    margin:auto;
    width:80%;
    text-align:center;
    padding:5px;
}

.notification section {
    margin:5px;
    margin-bottom:5px;
    
}
/* end of notifications */

footer {
    text-align:center;
    font-style:italic;
    font-size:75%;
    width:100%;
    margin-top:25px;
    padding-top:25px;
    border-top:1px solid black;
}

/********************************/
/* DIALOG STYLE                 */
/********************************/


.dialog_box {
    z-index:10;
    margin:auto;
    position: absolute;
    top: 200px;
    left: 30%;
    background-color:#cccccc;
    border:1px solid #992C2C;
    border-radius: 3px;
}

.dialog_header {
    background-color:#992C2C;
    color:white;
    padding:2px;
    text-align:center;
    font-size:125%;
    font-weight:bold;
}

.dialog_body {
    margin:5px;
    overflow-x:auto;
    overflow-y:scroll;

}

.dialog_buttons {
    background-color:#992C2C;
    color:white;
    height:24px;
    padding:5px 0px 5px 0px;
    position:absolute;
    bottom:0px;
    right:0px;
    width:100%;
}

.dialog_buttons button {
    height:20px;
    display:inline-block;
    border: 1px solid white;
    font-weight: bold;
    margin-right:10px;
    margin-top:2px;
    float:right;
/*
  border-radius:0px;
  background-color:#ffffff;
  */
}

/* EXPENSE BOX STYLE */

.animation2 {
    height:0px:
}

.animation {
    height:0px;
    transition: height 1s; 
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    overflow: hidden;
}

.expense_box {
    z-index:10;
    position:relative;
    margin:auto;
    background-color:gray;
    /*border:1px solid #992C2C;*/
    border-radius: 3px;
}

.expense_header {
    text-align:center;
}

.expense_buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* EXPENSE BLOCK STYLE */

.expense_block {
    margin-left:-4px;
    display:inline-block;
    width:250px;
    height: 150px;
    vertical-align:top;
    border:2px solid black;
    border-radius: 10px;
}

.detail_button {
    display: block;
    height: 25px;
    width: 25px;
    border-radius:50%;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
}

.detail_button span {
   position: relative;
   bottom: 3px;

}

/* ROOMMATE BLOCK STYLE*/

.roommate_block {
    margin-left:13px;
    display:inline-block;
    width:170px;
    height: 250px;
    vertical-align:top;
    border-radius: 3px;
    background-color: #B1B1B1;
    text-align: center;
    padding-top: 10px;
}

.roommate_block img {
    display: block;
    margin: auto;
}

.roommate_block h2 {
    
}
